<app-nav-menu [rowData]="rowData"></app-nav-menu>
<section class="application-details">
  <mat-card class="section-details">
    <mat-card-title class="section-details-title"
      >Personal Information</mat-card-title
    >
    <form [formGroup]="applicationForm">
      <section class="section-details-body">
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>First Name </mat-label>
              <input
                matInput
                formControlName="firstName"
                placeholder="First Name "
                required
              />
              <mat-error
                *ngIf="
                  applicationForm.controls.firstName.invalid &&
                  applicationForm.controls.firstName.touched
                "
              >
                First name is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Last Name </mat-label>
              <input
                matInput
                formControlName="lastName"
                placeholder="Last Name "
                required
              />
              <mat-error
                *ngIf="
                  applicationForm.controls.lastName.invalid &&
                  applicationForm.controls.lastName.touched
                "
              >
                Last Name is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Phone Number</mat-label>
              <input
                matInput
                formControlName="phoneNumber"
                placeholder="Phone Number"
              />
              <mat-error
                *ngIf="
                  applicationForm.controls.phoneNumber.invalid &&
                  applicationForm.controls.phoneNumber.touched
                "
              >
                Invalid phone number.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Email" />
              <mat-error
                *ngIf="
                  applicationForm.controls.email.invalid &&
                  applicationForm.controls.email.touched
                "
              >
                Invalid email address.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>
      <hr />
      <mat-card-title class="section-details-title"
        >Application Information</mat-card-title
      >
      <section class="section-details-body">
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Application Number </mat-label>
              <input
                matInput
                formControlName="applicationNumber"
                placeholder="Application Number"
                [readonly]="isReadOnly"
              />
              <mat-error
                *ngIf="
                  applicationForm.controls.applicationNumber.invalid &&
                  applicationForm.controls.applicationNumber.touched &&
                  !applicationForm.controls.applicationNumber.value &&
                  isReadOnly == false
                "
              >
                Application Number is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of statuses" [value]="status">{{
                  status
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="input-wrap-row">
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Amount</mat-label>
              <input matInput formControlName="amount" placeholder="Amount " />
              <mat-error
                *ngIf="
                  applicationForm.controls.amount.invalid &&
                  applicationForm.controls.amount.touched
                "
              >
                Invalid amount
              </mat-error>
            </mat-form-field>
          </div>
          <div class="input-wrap">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Monthly Payment Amount</mat-label>
              <input
                matInput
                formControlName="monthlyPayAmount"
                placeholder="Monthly Payment Amount"
                readonly
              />
            </mat-form-field>
          </div>
        </div>
        <div class="input-wrap-row">
          <div class="input-wrap" id="lastInput">
            <mat-form-field appearance="outline" class="input-wrap__input">
              <mat-label>Terms </mat-label>
              <input matInput formControlName="terms" placeholder="Terms " />
              <mat-error
                *ngIf="
                  applicationForm.controls.terms.invalid &&
                  applicationForm.controls.terms.touched
                "
              >
                Terms is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>
      <hr />
    </form>
    <mat-card-actions class="details-buttons">
      <button mat-button color="primary">SAVE</button>
    </mat-card-actions>
  </mat-card>
</section>
